:root {
  --dark: #2c4052;
  --darkP: #53476d;
  --mid: #466473;
  --lightB: #b0c4cf;
  --green: #a38857dc;
  --greenL: #cea964fd;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  background-color: var(--dark);
  color: var(--lightB);
}

header {
  border-bottom: 5px solid var(--green);
  font-weight: bold;
}

.display-3 {
  font-size: 80px;
  color: var(--greenL);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--lightB);
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid var(--lightB);
  border-bottom: 1px solid var(--lightB);
}

.hour {
  background-color: var(--darkP);
  color: var(--lightB);
  border-top: 2px solid var(--lightB);
}

/* classlist.add/remove */
/* 
.saveTest {
  background-color: rgb(117, 172, 172);
} */

.currentDay {
  font-size: 24px;
}

.past {
  background-color: rgba(160, 76, 70, 0.507);
  color: var(--lightB);
}

.present {
  background-color: rgba(45, 121, 108, 0.534);
  color: var(--lightB);
}

.future {
  background-color: rgba(64, 126, 50, 0.473);
  color: var(--lightB);
}

.saveBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--green);
  color: var(--lightB);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
