:root {
  --dark: #464e73;
  --darkP: #554673;
  --mid: #466473;
  --lightB: #b0c4cf;
  --green: #736b46;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  background-color: var(--dark);
  color: var(--lightB);
}

header {
  border-bottom: 5px solid var(--green);
  font-weight: bold;
}

.display-3 {
  font-size: 80px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid var(--lightB);
  border-bottom: 1px solid var(--lightB);
}

.hour {
  background-color: var(--darkP);
  color: var(--lightB);
  border-top: 2px solid var(--lightB);
}

/* classlist.add/remove */

.saveTest {
  background-color: rgb(117, 172, 172);
}

.currentDay {
  font-size: 24px;
}

.past {
  background-color: var(--mid);
  color: var(--lightB);
}

.present {
  background-color: var(--darkP);
  color: var(--lightB);
}

.future {
  background-color: var(--green);
  color: var(--lightB);
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--green);
  color: var(--lightB);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
